<div>
    <h2>Heading 2</h2>
    <a href="/Home/ContentView">Class -> ContentResult</a>
    <br />
    <a href="/Home/JsonView">Class -> JsonResult</a>
    <br />
    <a href="/Home/FileView">Class -> FileResult</a>
    <br />
    <a href="/Home/ViewView">Class -> ViewResult</a>
    <br />
    <a href="/Home/RedirectView">Class -> RedirectResult</a>
    <br />
</div>
@{
    var name = "Jhon".ToUpper();
    var num = 1;
}

@(name + " Rodrigues")

@(num + 1)

@*
    Comment
*@