<h1>Heading 1</h1>
<p>Lorem ipsum....</p>

<a href="/Home/ContentView">Class -> ContentResult</a>
<br />
<a href="/Home/JsonView">Class -> JsonResult</a>
<br />
<a href="/Home/FileView">Class -> FileResult</a>
<br />
<a href="/Home/ViewView">Class -> ViewResult</a>
<br />
@DateTime.Now

@{
    var name = "John";
}