<div>
    <h2>Heading 2</h2>
    <a href="/Home/ContentView">Class -> ContentResult</a>
    <br />
    <a href="/Home/JsonView">Class -> JsonResult</a>
    <br />
    <a href="/Home/FileView">Class -> FileResult</a>
    <br />
    <a href="/Home/ViewView">Class -> ViewResult</a>
    <br />
    <a href="/Home/RedirectView">Class -> RedirectResult</a>
    <br />
</div>
@{
    var name = "Jhon".ToUpper();
    var num = 1;
    var heading = "<h3>Statement</h3>";
}

@(name + " Rodrigues")

@(num + 1)

@*
    Comment:
    @:{text}
    <text></text>
    <{html}></{html}>

    Helpers:
    HTML
*@
<br />

@Html.Raw(heading)

IF:
<br />
@if(num == 1)
{
    num = 2;
    @:Num: <strong>@num</strong>
} else
{
    
}
<br />
FOR:
<br />
@for (int i = 0; i < 10; i++)
{
    <text>Num:</text> @i <br />
}
